.container_wrapper {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    position: fixed;
    top: 0;
    left: 0;
}

.container_main {
    background-color: white;
    width: 30rem;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 1vmax;
    padding: 1rem;
}

.container_main > h2 {
    padding: 1rem;
    text-align: center;
    color: var(--color-primary);
}
.container_main > p {
    font-size: 0.9rem;
    text-align: center;
}

.container_main > div > button {
    background-color: var(--color-primary);
    height: 3px;
    width: 50%;
    border: none;
    transition: all 500ms;
}
.container_main .form {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;

    gap: 1rem;
    width: 100%;
}
.form_input-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form_input-container span {
    color: rgba(0, 0, 0, 0.75);
    font-weight: 500;
}
.btn {
    width: 23rem !important;
    border: none !important;
    border-radius: 0.25rem !important;
    background-color: transparent !important;
    color: var(--color-primary) !important;
}
.btn:hover {
    background-color: rgba(255, 0, 0, 0.1) !important;
}
.btn-primary {
    color: white !important;
    background-color: var(--color-primary) !important;
}
.btn-primary:hover {
    background-color: rgb(202, 44, 44) !important;

    font-weight: 800 !important;
}
.form_input-container input {
    width: 22rem;
    padding: 0.5rem;
    font-size: large;
}

@media screen and (max-width: 768px) {
    .container_main {
        margin-top: 5rem;
    }
}

/* 
@media screen and (max-width: 900px) {
    .forgotPasswordContainer {
        background-color: white;
    }

    .container_main {
        width: 70vw;
        height: 90vh;
    }

    .container_main > h2 {
        margin: 4vmax 5vmax;
    }

    .forgotPasswordForm {
        padding: 1vmax 5vmax;
    }

    .forgotPasswordForm > div > input {
        padding: 2vmax 6vmax;
        font: 300 1.8vmax cursive;
    }

    .forgotPasswordForm > div > svg {
        font-size: 3vmax;
    }

    .forgotPasswordPImage {
        width: 8vmax;
        border-radius: 50%;
    }

    .forgotPasswordBtn {
        padding: 1.8vmax;
    }
} */
