.updatePasswordContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 4vw 2vw;
}

.updatePasswordBox {
    width: 50vw;
    /* height: 70vh; */
    box-sizing: border-box;
    overflow: hidden;
}

.updatePasswordBox > h2 {
    margin: 1vmax 2vmax;
}

.updatePasswordBox > div > button {
    background-color: var(--color-primary);
    height: 3px;
    width: 50%;
    border: none;
    transition: all 500ms;
}

.updatePasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1vmax 1vmax;
    gap: 2vmax;
    height: 80%;
    transition: all 500ms;
}

.updatePasswordForm > div {
    display: flex;
    gap: 1vmax;
    align-items: center;
    width: 100%;
    position: relative;
}

.updatePasswordForm > div > svg {
    font-size: 2vmax;
    position: absolute;
    left: 1vmax;
}

.updatePasswordForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.275);
    border-radius: 4px;
    font: 300 1vmax cursive;
    outline: none;
}

.updatePasswordPImage {
    width: 5vmax;
    aspect-ratio: 1/1;
    background-size: cover;
    border-radius: 50%;
    margin: 0 1vmax 0 0;
}

#rupdatePasswordImage > input {
    display: flex;
    padding: 0%;
}

#updatePasswordImage > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 4vh;
    border: none;
    margin: 0;
    font: 400 0.9vmax cursive;
    transition: all 500ms;
    color: rgba(0, 0, 0, 0.675);
    background-color: rgba(255, 255, 255);
    /* padding: 0 1vmax; */
}

#updatePasswordImage > input::file-selector-button:hover {
    background-color: rgb(233, 231, 231);
}

.updatePasswordBtn {
    border: none;
    background-color: var(--color-primary);
    color: white;
    width: 100%;
    font: 300 1vmax 'Roboto';
    padding: 0.8vmax;
    border-radius: 4px;
    cursor: pointer;
    transition: all 500ms;
}

.updatePasswordBtn:hover {
    background-color: rgb(175, 60, 40);
}

.shiftToLeft {
    transform: translateX(-100%);
}

.shiftToRight {
    transform: translateX(100%);
}

.shiftToNeutral {
    transform: translateX(0);
}

.shiftToNeutralForm {
    transform: translateX(0) translateY(-100%);
}

.profile-name {
    padding-bottom: 3px;
    border-bottom: 0.25vmax solid var(--color-primary);
}

@media screen and (max-width: 900px) {
    .updatePasswordContainer {
        background-color: white;
    }

    .updatePasswordBox {
        width: 100vw;
        height: 90vh;
    }

    .updatePasswordBox > h2 {
        margin: 4vmax 5vmax;
    }

    .updatePasswordForm {
        padding: 1vmax 5vmax;
    }

    .updatePasswordForm > div > input {
        padding: 2vmax 6vmax;
        font: 300 1.8vmax cursive;
    }

    .updatePasswordForm > div > svg {
        font-size: 3vmax;
    }

    .updatePasswordPImage {
        width: 8vmax;
        border-radius: 50%;
    }

    #updatePasswordImage > input::file-selector-button {
        height: 7vh;
        font: 400 1.8vmax cursive;
    }

    .updatePasswordBtn {
        padding: 1.8vmax;
    }
}
