.overall {
    display: flex;
    flex-wrap: wrap;
}
.overall .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.left .text {
    font-size: 1.25rem;
    font-weight: 500;
}
.left h2 {
    font-size: 2rem;
    font-family: monospace;
}
.overall .right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}
.overall .right div {
    display: flex;
    align-items: center;
}

.overall .right div label {
    width: 8rem;
}
.overall .right div li {
    width: 25vw;
    height: 0.5rem;
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
}
.right div li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5rem;
    width: 25vw;
    background-color: red;
}

.reviews {
    width: 75%;
    margin: 2rem auto;
    height: 20rem;
    overflow-y: scroll;
    margin-top: 5rem;
}
.review {
    display: flex;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 1rem;
    border-radius: 0.25rem;
    gap: 1rem;
    margin: 1rem 0;
}
.review img {
    height: 4rem;
    width: 4rem;
    border: 1px solid gray;
    border-radius: 50%;
}
.review div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .overall {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    .reviews {
        width: 100%;
    }
}
