.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 90vh;
    width: 90vw;
}

.loading span {
    height: 4rem;
    width: 4rem;
    border: 1px solid rgba(128, 128, 128, 0.135);
    border-bottom: 2px solid;
}
.loading > p {
    margin: 1rem 0 0 0;
    display: flex;
}
