.searchBox {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 2311);
    position: fixed;
    top: 0;
    left: 0;
}

.searchBox > input[type='text'] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.275);
    background-color: white;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.75);
    padding: 1vmax 2vmax;
    width: 50%;
    border-radius: 0%;
    font: 300 1.2vmax cursive;
    box-sizing: border-box;
    height: 8%;
}

.searchBox > input[type='submit'] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.275);
    background-color: var(--color-primary);
    border: none;
    outline: none;
    color: white;
    padding: 1vmax;
    width: 15%;
    border-radius: 0%;
    font: 300 1.2vmax 'Roboto';
    box-sizing: border-box;
    height: 8%;
    cursor: pointer;
    transition: all 500ms linear;
}

.searchBox > input[type='submit']:hover {
    background-color: rgb(31, 106, 204);
}

.searchBox > input[type='submit']:active {
    background-color: rgb(17, 156, 36);
}
